[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Copyright (C) 2014 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jolla.com>
  #%]

[% IF error == "remotesync_email_error" %]
  RemoteSync inbound email handling failed: [% err FILTER html %]
[% ELSIF error == "remotesync_no_source_for_url" %]
  There is no RemoteSync Source defined which could handle URL '[% url FILTER html %]'
[% END %]
