[% bug_templates = [
  'bug/show.html.tmpl',
  'bug/create/created.html.tmpl',
  'bug/process/results.html.tmpl'
  ] %]
[% IF bug_templates.contains(template.name) %]
  <script type="text/javascript">
    var REMOTESYNC_URL = "[% bug.remotesync_url FILTER js %]";

    var addRemoteSyncUrlSwitch = function(item, url) {
      var input = $("<input>")
        .attr("type", "radio")
        .attr("name", "remotesync_url")
        .attr("value", url);
      if (REMOTESYNC_URL == url) {
        input.attr("checked", "checked");
        if (url) {
          item.css('font-weight', 'bold');
        }
      }
      var label = $("<label>").append(input).append(url ? "Track" : "No tracking");
      item.append("<br>").append(label);
    }

    $(function() {
      var seeAlsoUrls = [];
      $("ul.bug_urls > li").each(function() {
        var item = $(this);
        var url = item.find("a").first().attr('href');
        seeAlsoUrls.push(url);
      })

      if(seeAlsoUrls.length == 0) return;

      new Rpc("RemoteSync", "valid_urls", {urls: seeAlsoUrls})
      .done(function(result) {
        result.forEach(function(url) {
          var link = $("ul.bug_urls a[href='" + url +"']");
          if (link.size() == 0) return;
          addRemoteSyncUrlSwitch(link.parent(), url);
        })
        if(result.length > 0) {
          var noTrackLi = $("<li>");
          $("ul.bug_urls").append(noTrackLi);
          addRemoteSyncUrlSwitch(noTrackLi, "");
        }
      })

      [% IF Param('remotesync_manual_sync') && bug.remotesync_url %]
      $("ul.bug_urls").append($('<li><a href="page.cgi?id=rs_manual_sync.html&amp;bug_id=[% bug.id %]">Manual sync</a></li>'))
      [% END %]
    })
  </script>
[% END %]

