[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2014-2017 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jolla.com>
  #%]

[% bug_templates = [
  'bug/show.html.tmpl',
  'bug/create/created.html.tmpl',
  'bug/process/results.html.tmpl'
  ] %]
[% IF bug_templates.contains(template.name) %]
  <script type="text/javascript"
    src="[% 'extensions/RemoteTrack/web/js/remotetrack.js' FILTER mtime %]">
  </script>
  <style type="text/css">
    li.remotetrack-url {
      font-weight: bold;
      background-color: lightgray;
      border-radius: 5px;
      padding: 5px 0px;
    }
  </style>
  <script type="text/javascript">
    $(function() {
        RemoteTrack.init({
            bugId: [% bug.id %],
            url: "[% bug.remotetrack_url FILTER js %]",
            userInGroup: [% user.in_group(Param('remotetrack_group')) ? 'true' : 'false' %],
            manualSyncEnabled: [% Param('remotetrack_manual_sync') ? 'true' : 'false' %]
        })
    })
  </script>
[% END %]

