[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2014-2017 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jolla.com>
  #%]

[% IF error == "remotetrack_url_change_denied" %]
  You are not allowed to change the remote tracking URL.
[% ELSIF error == "remotetrack_duplicate_not_allowed" %]
  This is a tracking [% terms.bug %] and cannot be marked at duplicate.
  If you really want to mark it as duplicate, you need to change the tracking
  status first.
[% ELSIF error == "remotetrack_invalid_url" %]
  '[% url FILTER html %]' is not valid remote tracking URL.
[% ELSIF error == "remotetrack_item_not_found" %]
  Remote item at '[% url FILTER html %]' was not found or not accessible.
[% END %]
