[%#
  # This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2014 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jolla.com>
  #%]
[%
  title = "RemoteTrack"
  desc = "RemoteTrack extension"
  param_descs = {
    remotetrack_user => "Local user for comments and other actions",

    remotetrack_manual_sync => "Enable manual sync button (for testing)",

    remotetrack_status_change_tmpl => "Template for status change comments "_
        "posted to remote items. Template variable 'status' is an array "_
        "containing the [old, new] staus values." ,

    remotetrack_tracking_change_tmpl => "Template for tracking change "_
        "comments posted to remote items. Template variable 'tracking' is 1 "_
        "when tacking starts and 0 when it ends." ,

    remotetrack_use_queue => "Use Bugzilla job queue to post changes to "_
        "remote items."
  }
%]

