[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Copyright (C) 2014 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jolla.com>
  #%]

[% javascript = BLOCK %]

var setSourceOptions = function(cls) {
  var clsid = cls.replace(/::/g, '_');
  var options_template = $('#options_templates #' + clsid).clone().attr('id', null);

  [% IF source.defined %]
  var options = [% source.options_json %];
  for (var key in options) {
    options_template.find("[name=option_"+key+"]").val(options[key]);
  }
  [% END %]

  $('#options').children().not('legend').remove();
  $('#options').append(options_template);
}

$(function() {
  var cls = $('[name=class]');
  setSourceOptions(cls.val());
  cls.change(function() {
    setSourceOptions(cls.val());
  });
})
[% END %]

[% PROCESS global/header.html.tmpl
    title = "RemoteSync Source"
%]

<table border="1">
  <tr>
    <th>Name</th>
    <th>Type</th>
  </tr>
[% FOR s IN sources %]
  <tr>
    <td>
      <a href="page.cgi?id=rs_source.html&amp;source_id=[% s.id FILTER html %]">
      [% s.name FILTER html %]
    </a></td>
    <td>[% s.class FILTER html %]</td>
    <td>
      <form action="page.cgi?id=rs_source.html" method="POST"
          onsubmit="return confirm('Are you sure you want to delete \'[% s.name FILTER js %]\'');">
        <input type="hidden" name="source_id" value="[% s.id FILTER html %]">
        <button type="submit" name="action" value="delete">Delete</button>
      </form>
    </td>
  </tr>
[% END %]
  <tr>
    <td>
      <form action="page.cgi?id=rs_source.html">
        <input type="hidden" name="id" value="rs_source.html">
        <button type="submit" name="action" value="new">Add new</button>
      </form>
    </td>
  </tr>
</table>

[% IF source.defined || action == 'new' %]
<form action="page.cgi?id=rs_source.html" method="POST">
  <table>
    <tr>
      <th>Name:</th>
      <td><input name="name" value="[% source.name FILTER html %]"/></td>
    </tr>
    <tr>
      <th>See Also Type:</th>
      <td>
        [% IF action == 'new' %]
        <select name="class">
          [% FOR class IN source_classes.keys %]
          <option value="[% class FILTER html %]">[% class FILTER html %]</option>
          [% END %]
        </select>
        [% ELSE %]
        [% source.class FILTER html %]
        <input type="hidden" name="class" value="[% source.class FILTER html %]">
        [% END %]
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <fieldset id="options">
          <legend>Options</legend>
        </fieldset>
      </td>
    </tr>
  </table>
  [% IF source.defined %]
  <input type="hidden" name="source_id" value="[% source.id FILTER html %]">
  [% END %]
  <button type="submit" name="action" value="save">[% source.defined ? 'Update' : 'Create' %]</button>
</form>
<form>
  <input type="hidden" name="id" value="rs_source.html">
  <button type="submit">Cancel</button>
</form>
[% END %]

<div id="options_templates" style="display:none;">
  <table id="Bugzilla_BugUrl_Bugzilla">
    <tr>
      <th>Base URL:</th>
      <td><input name="option_base_url"></td>
    </tr>
    <tr>
      <th>From email:</th>
      <td><input name="option_from_email"></td>
    </tr>
  </table>

  [% Hook.process("source_options") %]
</div>

[% PROCESS global/footer.html.tmpl %]
