[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #
  # Copyright (C) 2014 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jolla.com>
  #%]

[% PROCESS global/header.html.tmpl
    title = "RemoteSync Source"
%]

<table border="1">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>From email</th>
  </tr>
[% FOR s IN sources %]
  <tr>
    <td>
      <a href="page.cgi?id=rs_source.html&amp;source_id=[% s.id FILTER html %]">
      [% s.name FILTER html %]
    </a></td>
    <td>[% s.type FILTER html %]</td>
    <td>[% s.from_email FILTER html %]</td>
    <td>
      <form action="page.cgi?id=rs_source.html" method="POST"
          onsubmit="return confirm('Are you sure you want to delete \'[% s.name FILTER js %]\'');">
        <input type="hidden" name="source_id" value="[% s.id FILTER html %]">
        <button type="submit" name="action" value="delete">Delete</button>
      </form>
    </td>
  </tr>
[% END %]
  <tr>
    <td>
      <form action="page.cgi?id=rs_source.html">
        <input type="hidden" name="id" value="rs_source.html">
        <button type="submit" name="action" value="new">Add new</button>
      </form>
    </td>
  </tr>
</table>

[% IF source.defined || action == 'new' %]
<form action="page.cgi?id=rs_source.html" method="POST">
  <table>
    <tr>
      <th>Name:</th>
      <td><input name="name" value="[% source.name FILTER html %]"/></td>
    </tr>
    <tr>
      <th>Type:</th>
      <td>
        [% IF action == 'new' %]
        <select name="type">
          [% FOR type IN source_types %]
          <option value="[% type FILTER html %]"
            [% 'selected="selected"' IF type == source.type %]
          >[% type FILTER html %]</option>
          [% END %]
        </select>
        [% ELSE %]
        [% source.type FILTER html %]
        [% END %]
      </td>
    </tr>
    <tr>
      <th>From Email:</th>
      <td><input name="from_email" value="[% source.from_email FILTER html %]"/></td>
    </tr>
    <tr>
      <th>Base URL:</th>
      <td><input name="base_url" value="[% source.base_url FILTER html %]"/></td>
    </tr>
  </table>
  [% IF source.defined %]
  <input type="hidden" name="source_id" value="[% source.id FILTER html %]">
  [% END %]
  <button type="submit" name="action" value="save">[% source.defined ? 'Update' : 'Create' %]</button>
</form>
<form>
  <input type="hidden" name="id" value="rs_source.html">
  <button type="submit">Cancel</button>
</form>
[% END %]

[% PROCESS global/footer.html.tmpl %]
