[%#
  # This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2014 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jolla.com>
  #%]
[% class = user.in_group('admin') ? "" : "forbidden" %]
<dt id="remotetrack_source" class="[% class %]"><a href="page.cgi?id=rt_source.html">RemoteTrack Sources</a></dt>
<dd class="[% class %]">Edit RemoteTrack extension remote source definitions</dd>
