Remote tracking item [% url FILTER none %]
[%- IF description %]
----------------------------------------
[%+ description %]
[%- END %]
[%- IF raw_data %]
----------------------------------------
[%- FOREACH f IN raw_data.pairs %]
* [% f.key %]: [% f.value %][% END %]
[% END %]
[%- FOREACH comment IN comments %]
----------------------------------------
Comment by [% comment.who %] at [% comment.when FILTER time %]
[%+ IF comment.url %][% comment.url %][% END %]

[%+ comment.text FILTER none %]
[%+ END %]
[% FOREACH c IN changes %]
----------------------------------------
* [% c.who %] changed [% c.field %] at [% c.when FILTER time %]
  [%+ c.from %] -> [% c.to %]
[% END %]
