Remote tracking item [% url FILTER none %] changed
[%- FOREACH comment IN comments %]
---
Comment by [% comment.who %]
[%+ IF comment.url %][% comment.url %][% END %]

[%+ comment.text FILTER none %]
[%+ END %]
[% FOREACH state IN states %]
---
* [% state.who %] changed status at [% state.when FILTER time %]
  [%+ state.from %] -> [% state.to %]
[% END %]
